.root{
}

.image{
   position: relative;
}

.textfield{   
   position: absolute;
   top: 230px;
   left: 19%;
   display: flex;
   flex-direction: row;
   align-items: center;

}

.title{
   font-family: 'Gotham';
   font-size: 3.5rem;
   font-weight: bold;
   color: white; 
   position: absolute;
   top: 85px;
   left: 32%;
}
